h1{ 
  font-family:sans-serif;
  font-size: 60pt;
  }
body {background:#bd6683;
  }
  a {color: #59ed1a;
  }
  a:hover{color:white;
          text-decoration:none;
          }
 .indent {
	 margin-left:100px;
         }
@media(min-width:999px){
	       body {
			   background:#596b87;
		   } 
		   .lol2 { 
		   display:inline-block;
		   width:200px; 
			}
			}
@media(min-width:1000px){
	       body{
			   background:green;
		   } .lol2 { 
		   display:inline-block;
		   width:600px; 
			}
}

.lol2 {
background:blue;
font-family:sans-serif;
font-size:40pt;
}